:root{

    scroll-behavior: smooth;
    --my-color:#34d69b;
    --text-color:#000;
    --my-text-color:gold;
    --theme-color:#fff;
    --inverse-theme-color:#20232a;
    --color-box-shadow:#20232a9f;
}
.body{
    margin: 0;
    font-family: 'Exo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color: var(--theme-color);
    box-shadow: 0 0.25rem 0 #e5e5e5;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

   
}
.header-nav{
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    
}
.header-nav__logo-container{
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;    
}
.header-nav__logo-porfile{
    height: 100%;
}
.header-nav__menu-container{
    margin: 0;
    height: 2rem;
}
.header-nav__menu-icon{
    height: 100%;
}
.header-nav__list-container{
    position: fixed;
    top: 4rem;
    bottom: 0;
    left: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.596);

}
.header-nav__list-container--left-0{
    left: 0;
}
.header-nav__list-item{
    list-style: none;
}
.header-nav__list-item_link{
    text-decoration: none;
    color: var(--theme-color);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    transition: all 0.5s;
}
.header-nav__list-item_link:hover{
    border-bottom:solid 0.2rem var(--my-color);
    color: var(--my-text-color);
    transition: all 0.5s;   
}

.article__image-container{
    max-width: 150px;
}
.article__image-porfil{
    width: 100%;
}

.porfil{
    padding: 2rem 0;
    /* background-color: yellowgreen; */

}
.porfil-container{
    padding: 0 2rem;
    text-align: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.porfil__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}
.porfil__info__title{
    margin: 0;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-weight: 700;
   

}
.porfil__info__description{
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.porfil__info-link-container{
    display: flex;
    gap: 1rem;

}
.porfil__info-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem ;
    color: var(--text-color);
    transition: all 0.5s;
    background-color: var(--my-color);
}
.porfil__info-link:hover{
    box-shadow: 0 0 0 0.1rem var(--text-color);
    background-color: var(--theme-color);
    transition: all 0.5s;
    
}
.porfil__cover-image{
    display: flex;
}
.porfil__image-container{
    display: flex;
    max-width: 18rem;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.5s;
    

}
.porfil__image-container:hover{
    box-shadow: 0 0 0 0.25rem var(--my-color);
    transition: all 0.5s;

}
.porfil__image-porfil{
    width: 100%;
}
.wave-separator{
    margin: -2px;
}

.wave-separator__wave-separator-container{
    margin: 0;
}
.wave-separator__wave-separator{
    display: flex;
    width: 100%;
}

.experience{
    padding: 2rem 0;
    background-color: var(--text-color);
    color: var(--theme-color);
    
}
.experiencie-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;

}
.experience__title{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;

}
.experience__title::before{
    content: '💻';
}
.experience__title::after{
    content: '💻';
}



.experience__experience__date{
    margin: 0;
    font-size: 1rem;
    color: var(--my-color);
}
.experience__experience__enterprise{
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.experience__experience__jop{
    margin: 0;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--my-color);
    
}
.experience__experience__functions-function{
    margin: 0;
    font-weight: 600;
   
}
.wave-separator--r-180deg{
    transform: rotate(180deg);
    margin: -0.5rem 0 0 0;
}
.projects{
    padding: 2rem 0;

}
.projects-container{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}
.projects__title{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;

}
.projects__projects{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.projects__project{
    box-shadow: 0 0 0.5rem var(--inverse-theme-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    padding-bottom: 1rem;
    transition:  all 0.5s;

}
.projects__project:hover{
    box-shadow: 
    0 0 0.5rem var(--my-color),
    0 0 0.5rem gold,
    0 0 0.5rem  var(--inverse-theme-color);
    transform: scale(1.05);
    transition:  all 0.5s;
    

}
.projects__project-image-container{
    max-width: 100%;
    margin: 0;
    display: flex;

}
.projects__project-image{
    width: 100%;

}
.projects__project-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0 1rem;

}
.projects__project-data-title{
    margin: 0;
    font-size: 1.5rem;

}
.projects__project-data-core-tecnology{
    margin: 0;
    font-weight: 900;
    color: var(--my-color);

}
.projects__project-data-tecnologies{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;

}
.projects__project-data-about{
    text-align: center;
    font-size: 0.85rem;
    font-weight: 700;
    margin: 0;

}
.projects__project-button-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    
}
.projects__project-button{
    background-color: var(--my-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem ;
    font-weight: 700;
    transition: all 0.5s;
    
}
.projects__project-button--bg-gold{
    background-color: var(--my-text-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem ;
    font-weight: 700;
    transition: all 0.5s;
    
}
.projects__project-button--bg-gold:hover{
    background-color: var(--theme-color);
    border: solid 0.1rem var(--text-color);
   
}
.projects__project-button:hover{
    background-color: var(--theme-color);
    border: solid 0.1rem var(--text-color); 
    
}

.skills{
    padding: 2rem 0;

}
.skills__container{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    
    

}
.skills__title{
    font-size: 1.5rem;
    margin: 0;

}
.skills__title::before{
    content: '🧑‍💻';

}
.skills__title::after{
    content: '🧑‍💻';

}
.skills__skills-container{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.skills__skills__skill{
    padding: 8px;
    background-color: var(--text-color);
    color: var(--theme-color);
    border-radius: 8px;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.5s;

}
.skills__skills__skill:hover{
    box-shadow: 0 0 0.5rem 0.25rem var(--my-color);
    transform: scale(1.2);
    transition: all 0.5s;
}
.contac{
    padding: 2rem 0;

}
.contac-container{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.contac__title{
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.contac__title::before{
    content: '📲';
}

.contac__title::after{
    content: '📲';
}
.contac__form-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}
.contac__form__input{
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: solid 0.2rem var(--text-color);
    outline: none;
    background-image: linear-gradient(to right,var( --theme-color),#34d69b71,var( --theme-color) );
    font-weight: 700;
}
.contac__form__input:focus{
    box-shadow: 0 0 0 2px var(--my-text-color);
    
}

.contac__form__button{
    align-self: center;
    font-size: 1.2rem;
    border: solid #61dafb;
    background-color: var(--my-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 700;
    transition: all 0.5s;

}
.contac__form__button:hover{
    background-color: var(--theme-color);
    border: solid 0.1rem var(--text-color);
   
}

.footer{
    padding: 2rem 0;
    background-color: var(--text-color);
    color: var(--theme-color);
}

.footer-container{
    padding: 0 2rem ;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.footer__social-media-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;

}
.footer__social-media__item{
    list-style: none;
  
}
.footer__social-media__item-icon{
    font-size: 2.3rem; 
    cursor: pointer;
    transition: all 0.5s;  
}
.footer__social-media__item-icon:hover{
    color: var(--my-color);
    transform: scale(1.3);  
    transition: all 0.5s; 
   
}
.footer__social-media__credits{
    box-shadow: 0 -0.25rem 0.25rem -0.25em var(--my-color);
    margin: 0;
    padding: 0.5rem 0;
    text-align: center;
    font-weight: 500;

}
.footer__social-media__credits-author{
    text-decoration: none;
    color: var(--my-color);
    font-weight: 700;

}

@media(min-width:854px){

    .header-nav,
    .porfil-container,
    .experiencie-container,
    .projects-container,
    .skills__container,
    .contac-container,
    .footer-container{
        max-width: 1024px;
        margin: auto;
        padding: 0;


    }
    .header-nav__menu-container{
        display: none;
    }
    .header-nav__list-container{
        position: static;
        display: flex;
        flex-direction: row;
        width: auto;
        background-color: transparent;
        

    }
    .header-nav__list-item_link{
        color: var(--text-color);
        font-size: 1rem;

    }
    .header-nav__list-item_link:hover{
       color: var(--my-color);
       border-bottom:solid 0.2rem var(--my-text-color);
       transition: all 0.5s;
    }
    .porfil-container{
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
        margin: 0 auto;
        align-items: center;
    }
   
    .porfil__info{
        flex: 1;
    }
    .porfil__cover-image{
        flex: 1;
        justify-content: center;
    }
   




}







